# Environment variables (DO NOT commit)
.env
.env.local
.env.*.local
.env.*
node_modules/
espotz-brand-assets/

# Local Netlify folder
.netlify

# frontend

node_modules/
espotz-brand-assets/
frontend/public/
